<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>picture</key>
		<string>laba_practice2</string>
		<key>name</key>
		<string>earser</string>
		<key>description</key>
		<string>/i&apos;reizə(r)/   橡皮</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>laba_practice2</string>
		<key>name</key>
		<string>crayon</string>
		<key>description</key>
		<string>/&apos;kreizən/   蜡笔</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>laba_practice2</string>
		<key>name</key>
		<string>bag</string>
		<key>description</key>
		<string>/bæg/   包</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>laba_practice2</string>
		<key>name</key>
		<string>pen</string>
		<key>description</key>
		<string>/pen/   钢笔</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>laba_practice2</string>
		<key>name</key>
		<string>ruler</string>
		<key>description</key>
		<string>/ru:lə(r)/   尺子</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>laba_practice2</string>
		<key>name</key>
		<string>earser</string>
		<key>description</key>
		<string>/i&apos;reizə(r)/   橡皮</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>laba_practice2</string>
		<key>name</key>
		<string>earser</string>
		<key>description</key>
		<string>/i&apos;reizə(r)/   橡皮</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>laba_practice2</string>
		<key>name</key>
		<string>earser</string>
		<key>description</key>
		<string>/i&apos;reizə(r)/   橡皮</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>laba_practice2</string>
		<key>name</key>
		<string>earser</string>
		<key>description</key>
		<string>/i&apos;reizə(r)/   橡皮</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>laba_practice2</string>
		<key>name</key>
		<string>earser</string>
		<key>description</key>
		<string>/i&apos;reizə(r)/   橡皮</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>laba_practice2</string>
		<key>name</key>
		<string>earser</string>
		<key>description</key>
		<string>/i&apos;reizə(r)/   橡皮</string>
	</dict>
	<dict>
		<key>picture</key>
		<string>laba_practice2</string>
		<key>name</key>
		<string>earser</string>
		<key>description</key>
		<string>/i&apos;reizə(r)/   橡皮</string>
	</dict>
</array>
</plist>
